h1 {
    padding-top: 30px;
}

.elements_container{
    display:flex;
}

@media only screen and (max-width: 600px) {
    .elements_container {
        display:contents;
    }

    .graph_container{
        min-width: fit-content;
        max-width:automatic;
    }
    .bar_graph{
        width:80%;
        height: 300px;
        padding-top: 30px
        
    }
}

.tabla_container{
    text-align: center;
}

.graph_container{
    text-align: center;
    width:50%;
}

.bar_graph{
    width: 100%;
    height: 300px;
    padding-bottom: 30px;
    
}
.tabla {
    border-collapse: collapse;
    width: 100%;;
  }
  
.tabla td {
    font-size: 13px;
    border-bottom: 2px solid black;
    padding: 4px; 
}

.tabla th {
    background-color: rgba(0,0,0,0.6); 
    color:white;
    padding: 7px;
}
